<style>
  .retention-tile {
    width: 20px;
    height: 20px;
    color: black;
    margin-right: 1px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #333;
    box-sizing: border-box;
  }
  .palette-header {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
  }
  .rt-bucket-0 { background: #5E4FA2; }
  .rt-bucket-1 { background: #3288BD; }
  .rt-bucket-2 { background: #66C2A5; }
  .rt-bucket-3 { background: #ABDDA4; }
  .rt-bucket-4 { background: #E6F598; }
  .rt-bucket-5 { background: #f6faaa; }
  .rt-bucket-6 { background: #FEE08B; }
  .rt-bucket-7 { background: #FDAE61; }
  .rt-bucket-8 { background: #F46D43; }
  .rt-bucket-9 { background: #D53E4F; }
  .rt-bucket-10 { background: #9E0142; }

  .retention-row {
    margin-bottom: -3px;
  }

  .tooltip.in {
    opacity: 0.95;
  }

  .histogram-options {
    padding: 5px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .histogram-options label {
    margin: 0px 0px 0px 10px !important;
  }
  .histogram-options span {
    white-space: nowrap;
  }

  /* this is actually should be in bootstrap */
  .form-inline .checkbox {
      display: inline-block;
  }
</style>

<div ng-controller='retention' ng-init="init()">
  <form class="form-inline bordered histogram-options">
    <span>
      <div class="checkbox">
        <label class="small">
          <input type="checkbox" ng-model="panel.absolutes" ng-checked="panel.absolutes" ng-change="render()">
          Absolute values
        </label>
      </div>
    </span>
    <span>
      <label class="small">Interval</label> <select ng-change="get_data();" class="input-small" ng-model="panel.interval" ng-options="time for time in _.union([panel.interval], panel.intervals)"> </select>
    </span>
  </form>

  <br />
  <div ng-show="!panel.absolutes">
    <span class="palette-header">
      <select ng-change="render();" class="input-smaller" ng-model="panel.min_perc" ng-options="x + '%' for x in _.range(0, 100, 10)"> </select>
    </span>
    <div ng-repeat="x in _.range(11)" class="retention-tile rt-bucket-{{x}}"></div>
    <span class="palette-header">
      <select ng-change="render();" class="input-smaller" ng-model="panel.max_perc" ng-options="x + '%' for x in _.range(10, 101, 10).reverse()"> </select>
    </span>

    <br />
    <br />
    <div class="retention-row" ng-repeat="row in data.rows">
      <div ng-repeat="day in row" class="retention-tile rt-bucket-{{Math.floor((day.perc - panel.min_perc) / (panel.max_perc - panel.min_perc) * 10)}}"
        data-toggle="tooltip" title="
          <strong style='font-size: 20px;'>{{day.perc.toString().slice(0, 4)}}%</strong> ({{day.intersection}})
          of those who {{data.q1_text}} ({{day.q1_count}})
          <br />
          on {{day.q1_key.slice(0, 10)}}
          did {{data.q2_text}}
          <br />
          on {{day.q2_key.slice(0, 10)}}
        ">
      </div>
    </div>
  </div>

  <div ng-show="panel.absolutes">
    <span class="palette-header">0</span>
    <div ng-repeat="x in _.range(11)" class="retention-tile rt-bucket-{{x}}"></div>
    <span class="palette-header">{{data.max}}</span>

    <br />
    <br />
    <div class="retention-row" ng-repeat="row in data.rows">
      <div ng-repeat="day in row" class="retention-tile rt-bucket-{{Math.floor(day.intersection / (data.max / 10))}}"
        data-toggle="tooltip" title="
          <strong style='font-size: 20px;'>{{day.intersection}}</strong>
          of those who {{data.q1_text}} ({{day.q1_count}})
          <br />
          on {{day.q1_key.slice(0, 10)}}
          did {{data.q2_text}}
          <br />
          on {{day.q2_key.slice(0, 10)}}
        ">
      </div>
    </div>
  </div>

  <div style="clear:both"></div>
</div>
